
/*===========================
      05.ABOUT css 
===========================*/
.about-area {
  position: relative;
  z-index: 5; }

.about-shape-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  z-index: -1; }
  .about-shape-1 img {
    width: 100%; }
  @media (max-width: 767px) {
    .about-shape-1 {
      display: none; } }

.about-shape-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  z-index: -1; }
  .about-shape-2 img {
    width: 100%; }
  @media (max-width: 767px) {
    .about-shape-2 {
      display: none; } }

/*.about-content {
  max-width: 480px; }*/
  
  .about-content .text {
    margin-top: 15px; }
 .main-btn {
  background-color: #98C03C;

    background-size: 200%;
    border-radius: 8px;
    border-color: #fe6e9900;
    
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    margin-top: 40px; }

.main-btn:hover {
      background-position: right center; }




      /*** Service ***/
.service-itemT {
  height: 320px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.service-itemT:hover {
  background: var(--primary);
}

.service-itemT .service-icon {
  margin: 0 auto 30px auto;
  width: 65px;
  height: 65px;
  transition: .5s;
}

.service-itemT i,
.service-itemT h5,
.service-itemT p {
  transition: .5s;
}

.service-itemT:hover i,
.service-itemT:hover h5,
.service-itemT:hover p {
  color: #FFFFFF !important;
}

